In [230]:
import keras_tuner

import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow import keras

from keras.layers import GRU, Dropout, SimpleRNN, LSTM, Dense, SimpleRNN
from keras.models import Sequential
from sklearn.preprocessing import MinMaxScaler

In [231]:
# Load your Nifty 50 stock data
# Assuming you have a CSV file with columns: Date, Open, High, Low, Close, Volume
data = pd.read_csv('2011-2019pricedata.csv')
data.dropna()
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2011-01-03,6177.450195,6178.549805,6147.200195,6157.600098,6157.600098,0.0
1,2011-01-04,6172.750000,6181.049805,6124.399902,6146.350098,6146.350098,0.0
2,2011-01-05,6141.350098,6141.350098,6062.350098,6079.799805,6079.799805,0.0
3,2011-01-06,6107.000000,6116.149902,6022.299805,6048.250000,6048.250000,0.0
4,2011-01-07,6030.899902,6051.200195,5883.600098,5904.600098,5904.600098,0.0

In [232]:
# Extract the relevant stock's data
stock_data = data["Open"]

In [233]:
stock_data_processed = data.iloc[:, 1:2].values
stock_data_processed

array([[ 6177.450195],
       [ 6172.75    ],
       [ 6141.350098],
       ...,
       [11905.799805],
       [11865.299805],
       [11999.799805]])

In [234]:
scaler = MinMaxScaler(feature_range = (0,1))

stonks_scaled = scaler.fit_transform(stock_data_processed)
stonks_scaled

array([[0.21070544],
       [0.21006827],
       [0.20581161],
       ...,
       [0.98725709],
       [0.98176679],
       [1.        ]])

In [235]:
features_set = []
labels = []
for i in range(30, stonks_scaled.shape[0]):
    features_set.append(stonks_scaled[i-30:i, 0])
    labels.append(stonks_scaled[i, 0])

In [236]:
features_set, labels = np.array(features_set), np.array(labels)
features_set.shape

(2046, 30)

In [237]:
train_set=features_set[:1000]
print(train_set.shape)
train_label=labels[:1000]

(1000, 30)

In [238]:
test_set=features_set[:200]
test_label=features_set[:200]

In [247]:
LSTM_model = Sequential()
LSTM_model.add(LSTM(units=300, return_sequences=True, input_shape=(features_set.shape[1],1)))
LSTM_model.add(Dropout(0.2))

LSTM_model.add(LSTM(units=100, return_sequences=True))
LSTM_model.add(Dropout(0.2))

LSTM_model.add(LSTM(units=100, return_sequences=True))
LSTM_model.add(Dropout(0.2))

LSTM_model.add(LSTM(units=100))
LSTM_model.add(Dropout(0.2))

LSTM_model.add(Dense(1))

In [248]:
LSTM_model.compile(optimizer = 'adam', loss = tf.keras.losses.MeanSquaredError())

In [ ]:
LSTM_model.fit(train_set, train_label, epochs = 2, batch_size = 20)

Epoch 1/2
50/50 [==============================] - 18s 350ms/step - loss: nan
Epoch 2/2
19/50 [==========>...................] - ETA: 10s - loss: nan

In [246]:
tf.keras.losses.MeanSquaredError()